body {
    background-color: black;
}

/* Middle of the Home Page START */
.homeEvents {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* row-gap: 20px; */
}

.event {
    text-align: center;
    justify-self: center;
    align-self: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 15em;
    color: white;
}

/* Middle of the Home Page END */

/* SEARCH RECIPE PAGE START */
.search-wrapper{
    color: white;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.recipe-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 1.5rem;
    margin-top: 1rem;
    padding: .5rem;
    min-width: 0;
}

.card{
    color: white;
    text-align: center;
    margin: 1rem;
}
.recipePhoto{
    object-fit: scale-down;
    width: 100%;
}
.recipeName{
    font-size: 1.5rem;
}
