body {
    background-color: black;
}
.container{
    display: flex;
    flex-direction: column;
}
/* Middle of the Home Page START */
.homeEvents {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(0px,1fr));
    flex: 1 0 auto;
}
table{
    background-color: white;
    height: 75%;
    width: 75%;
}
table td{
    text-align: center;
}
textarea{
    width: 90%;
}
h1{
    color: white;
    height: 2em;
    width: 6em;
}
h4{
    color: white;
    width: 70%;
    height: 70%;
}
.event {
    text-align: center;
    justify-self: center;
    align-self: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    color: white;
    font-size: 25px;
}
.goals a{
    text-decoration: none;
    color: inherit;
}
.goals img{
    object-fit: scale-down;
    width: 90%;
    margin-top: 20px;
}
.luckyPhoto{
    object-fit: scale-down;
    width: 90%;
}

/* Middle of the Home Page END */


/* Footer */
.footer{
    flex-shrink: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(41, 41, 41);
    width: 100%;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2rem;
    margin: 5px ;

}
.footer-content p{
    max-width: 500px;
    margin: 5px 0px;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
   margin-top: 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
    text-align: center;
}

.socials a:hover i{
    color: #f59c16;
}
/* FOOTER END */
/* MEAL PLAN START */
.collapsible {
    background-color: rgb(61, 61, 61);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    font-style: bold;
    margin-bottom: 10px;
  }
.collapsible span{
    float: right;
}
.active, .collapsible:hover {
    background-color: #ff8533;
    color: black;
    font-style: bold;
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
form{
    margin: 10px;
}
form input[type="text"],form input[type="number"],form select {
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
form input[type="submit"]{
	box-shadow: inset 0px 1px 0px 0px #ff8533;
	background-color: #ff8533;
	border: 1px solid #ff8533;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}

form input[type="submit"]:hover{
    background:linear-gradient(to bottom, #3447ec 5%, #3447ec 100%);
	background-color:#3447ec;
}

.planSec{
    color: white;
    font-size: 25px;
}

.mealCard p{
    display: inline;
    font-size: 20px;
}
/* MEAL PLAN END */
/* SEARCH RECIPE PAGE START */
.search-wrapper{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
    text-align: center;
}

#search{
    width: 20rem;
    align-self: center;
}

.recipe-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 1rem;
    margin-top: 1rem;
    padding: .5rem;
    min-width: 0;
}

.card{
    color: white;
    text-align: center;
    margin: .5rem;
}
.recipePhoto{
    object-fit: scale-down;
    width: 100%;
}
.recipeName{
    font-size: 1.5rem;
}

.hide{
    display: none;
}
/*Miscellenous Styling + Nav Bar*/
.title{
    color: black;
    font-size: 1.25rem;
    font-weight:  bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    
  }
  li a {
    display: block;
    color: blue;
    flex: 1 0 auto;
    padding: 3px;
    
  }
  li a:hover {
    background-color: black;

  }
  ul{
    background-color: orange;
  }
  img{
    height: 80%;
    width: 80%;
  }
  .active {
    background-color: #04AA6D;
  }
  form input{
    display: block;
   
  }
  form select{
    align-content: center;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  h2{
    color: white;
  }